.border{
    border: 1px solid;
}
.wadah{
    width: 1000px;
    margin: auto;
}
li:hover{
    background-color: plum;
}
.card:target{
    background-color: rgb(253, 254, 255);
}
p::first-letter{
    color: rgb(93, 93, 109);
    font-size: larger;
}
.display{
    display: inline-block;
    padding: 10px;
}
.display:hover{
    animation-name: animasi;
    animation-duration: 5s;

}
@keyframes animasi {
    0%   {background-color:rgb(165, 244, 252); left:0px; top:0px;}
    25%  {background-color:rgb(114, 171, 255); left:200px; top:0px;}
    50%  {background-color:rgb(114, 114, 220); left:200px; top:200px;}
    75%  {background-color:rgb(105, 169, 241); left:0px; top:200px;}
    100% {background-color:rgb(131, 147, 249); left:0px; top:0px;}
  }
.warnaa{
    background-image: linear-gradient(to right, rgb(144, 144, 255), rgb(222, 213, 255));
}
img{
    width: 130px;
}
.card{
    width: 30%;
    padding: 2px;
    box-sizing: border-box;
}

.card h6{
    margin:10px;
}
.hori{
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.ratain{
    text-align: left;
}

@media only screen and (max-width: 500px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    .tempat{
        width: 80%;
    }
    .lebar{
        width: 100%;
    }
    .respon{
        display: flex;
        flex-direction: column;
    }
  }
  