.border{
    border: 1px solid;
}
.wadah{
    width: 1000px;
    margin: auto;
}
.display{
    display: inline-block;
    padding: 10px;
}
.warnaa{
    background-image: linear-gradient(to right, rgb(144, 144, 255), rgb(222, 213, 255));
}
img{
    width: 130px;
}
.card{
    width: 30%;
    padding: 2px;
    box-sizing: border-box;
}

.card h6{
    margin:10px;
}
.hori{
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.ratain{
    text-align: left;
}